body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', 'Segoe UI', sans-serif;
}

div {
    font-size: 30px;
    font-weight: bold;
}

